.image-content {
  position: relative;
  overflow: hidden;
}

.image-item-menu:hover {
  opacity: 1;
}
.cxj-image-modal img {
  transition: all 0.3s;
  width: 100%;
}

.image-list {
  list-style-type: none;
}

.image-list li {
  float: left;
  margin-right: 10px;
}

.image-list li:hover {
  cursor: pointer;
}
