.cxj-image-modal {
  position: fixed;
  left: 30%;
  top: 40px;
  z-index: 1000;
  height: auto;
  transition: opacity .3s;
  border: 2px solid transparent;
}

#cxj-left-icon {
  z-index: 99999;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -25px;
  display: block;
  height: 60px;
  line-height: 50px;
  font-size: 50px;
  cursor: pointer;
  color: #fff;
  background: #000;
  opacity: .3;
  transition: transform 0.3s;
}
  
#cxj-left-icon:hover {
  opacity: .5;
}
#cxj-right-icon {
  z-index: 99999;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -25px;
  display: block;
  height: 60px;
  line-height: 50px;
  font-size: 50px;
  cursor: pointer;
  color: #fff;
  background: #000;
  opacity: .3;
  transition: transform 0.3s;
}
#cxj-right-icon:hover {
  opacity: .5;
}

  
.cxj-image-modal .image-item-menu {
  position: absolute;
  top: -44px;
  transition: all 0.3s;
  padding-top: 10px;
  width: 100%;
  text-align: center;
  font-size: 10px;
}
 
.cxj-image-modal .image-content {
  position: relative;
  overflow: hidden;
}

.cxj-image-modal img {
  transition: all 0.3s;
  width: 100%;
}

#cxj-close-icon {
  position: absolute;
  text-align: center;
  top: -6px;
  right: 12px;
  z-index: 1000;
  display: block;
  width: 17px;
  height: 50px;
  font-size: 30px;
  /* line-height: 50px; */
  /* background: #000; */
  /* opacity: .5; */
}

#cxj-close-icon:hover {
  cursor: pointer;
}

#cxj-rotate-right, #cxj-rotate-left {
  width: 19px;
  position: absolute;
  right: 44px;
  top: 8px;
  z-index: 1000;
  /* opacity: .5; */
  cursor: pointer;
}

#cxj-rotate-left {
  right: 76px;
  transform: rotate(180deg);
  top: 4px;
}

#cxj-rotate-right img, #cxj-rotate-left img {
  width: 100%;
}
